.carousel {
  width: 100%;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.slide {
  position: relative;
  width: 100%;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555);
  cursor: pointer;
  z-index: 2; /* Ensure arrows are above the image */
}

.arrow-left {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-right {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button {
  margin-right: 10px;
  background-color: #3498db; /* Example background color */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: antiquewhite;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.slide-hidden {
  display: none;
}

.indicator-inactive {
  background-color: gray;
}
